<app-menu></app-menu>

<mat-card class="mat-card">
    <div class="left-part">
        <div class="container-img-profile">
            <img mat-card-image src="../../assets/images/Homme.svg" class="img-profil">
        </div>
    </div>

    <div class="center-part">
        <mat-card-header>
            <mat-card-title class="mat-card-title" *ngIf="user">
                Nom : {{user.lastname}} 
            </mat-card-title>
            <mat-card-title class="mat-card-title" *ngIf="user">
                Prénom : {{user.firstname}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item class="mat-list-item" *ngIf="user">Adresse : {{user.address}}</mat-list-item>
                <mat-list-item class="mat-list-item" *ngIf="user">Code postal : {{user.zipCode}}</mat-list-item>
                <mat-list-item class="mat-list-item" *ngIf="user">Ville : {{user.city}}</mat-list-item>
                <mat-list-item class="mat-list-item" *ngIf="user">Tél. personnel : {{user.phones[0].number}}</mat-list-item>
                <mat-list-item class="mat-list-item" *ngIf="user">Tél. professionnel : {{user.phones[1].number}}</mat-list-item>
                <mat-list-item class="mat-list-item" *ngIf="user">Email personnel : {{user.emails[0].address}}</mat-list-item>
                <mat-list-item class="mat-list-item" *ngIf="user">Email professionnel : {{user.emails[1].address}}</mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="right-part">
        <button mat-raised-button color="warn" class="mat-raised-button" (click)="deleteUser(user)">Supprimer</button>
        <button mat-raised-button color="primary" class="mat-raised-button" type="button" (click)="goToEditUser(user)">Editer</button>
    </div>
</mat-card>
