<app-menu></app-menu>

<form *ngIf="user" (ngSubmit)="onSubmit()" #userForm="ngForm" class="form">

    <mat-form-field>
        <mat-label>Nom : </mat-label>
        <input matInput type="text" id="lastname" 
            required
            [(ngModel)]="user.lastname" name="lastname" #name="ngModel">
        <!-- <div [hidden]="name.valid || name.pristine">
            Le nom est requis
        </div> -->
    </mat-form-field>

    <mat-form-field>
        <mat-label>Prénom : </mat-label>
        <input matInput type="text" id="firstname" 
            [(ngModel)]="user.firstname" name="firstname" #firstname="ngModel" placeholder="Firstname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Adresse : </mat-label>
        <input matInput type="text" id="address" 
            [(ngModel)]="user.address" name="address" #address="ngModel">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Code postal : </mat-label>
        <input matInput type="text" id="zipCode" 
            [(ngModel)]="user.zipCode" name="zipCode" #zipCode="ngModel">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ville : </mat-label>
        <input matInput type="text" id="city" 
            [(ngModel)]="user.city" name="city" #city="ngModel">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tél. personnel </mat-label>
        <input matInput type="tel"  id="personalPhone" 
            [(ngModel)]="user.phones[0].number" name="personalPhone" #personalPhone="ngModel">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tél. professionnel </mat-label>
        <input matInput type="tel" id="professionalPhone" 
            [(ngModel)]="user.phones[1].number" name="professionalPhone" #professionalPhone="ngModel">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email personnel </mat-label>
        <input matInput type="tel" id="personalEmail" 
            [(ngModel)]="user.emails[0].address" name="personalEmail" #personalEmail="ngModel">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email professionnel </mat-label>
        <input matInput type="tel" id="professionalEmail" 
            [(ngModel)]="user.emails[1].address" name="professionalEmail" #professionalEmail="ngModel">
    </mat-form-field>

    <div class="container">
        <button mat-raised-button class="mat-raised-button" color="primary" type="submit" [disabled]="!userForm.form.valid">Soumettre</button>
    </div>
    
</form>
<h3 *ngIf="!user">Aucun contact à éditer...</h3>