.container{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.mat-card{
    margin: 20px;
    padding-left: 10px;
    display: flex;
    align-content: center;
    flex-direction: row;
}

.mat-card-content{
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
}