<app-menu></app-menu>

<app-autocomplete-filter></app-autocomplete-filter>

<!--<app-search-user></app-search-user>-->

<div class="container">
    <button routerLink="/user/add" mat-raised-button color="primary">Ajouter</button>
</div>

<mat-card class="mat-card" *ngFor="let user of users">
    <mat-card-content class="mat-card-content" >
        <a (click)="goToUser(user.id)">
            {{user.photo}}
            {{user.lastname}} 
            {{user.firstname}}
            {{user.phones[1].number}}
            {{user.emails[1].address}}
        </a>
    </mat-card-content>
</mat-card>